.container {
    text-align: center;
}


.welcome {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}


.task-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;

    max-height: calc(100vh - 380px); 
    overflow-y: auto;
    padding-right: 5px; 
}

.task-list::-webkit-scrollbar {
    width: 6px;
}

.task-list::-webkit-scrollbar-thumb {
    background: #7fb3ff;
    border-radius: 10px;
}

.task-item {
    width: 80%;
    background: #e2e6ea;
    color: #000;
    padding: 12px;
    border-radius: 10px;
    font-size: 15px;
}

.task-item.completed {
    background: #7fb3ff;
    color: #fff;
}

.achievement-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}

.container-achievement-callendar {
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 120px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: block;
}


.subtitle {
    font-size: 16px;
    margin-bottom: 10px;
}


.achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


.star-circle {
    width: 120px;
    height: 120px;
    background: #445066;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #7fb3ff;
    margin-bottom: 20px;
}


.progress-bar-bg {
    width: 80%;
    height: 12px;
    background: #4a5568;
    border-radius: 10px;
}


.progress {
    width: 20%;
    height: 12px;
    background: #7fb3ff;
    border-radius: 10px;
}


.week-bar {
    position: fixed;
    bottom: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
}


.day {
    background: #445066;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
}


.day span {
    font-size: 12px;
}


.day.active {
    background: #e2e6ea;
    color: #000;
}