
.container {
    text-align: center;
}


.welcome {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}


.task-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.task-item {
    background: #e2e6ea;
    color: #000;
    padding: 12px;
    border-radius: 10px;
    font-size: 15px;
}

.subtitle {
    margin-top: 40px;
    font-size: 16px;
    margin-bottom: 20px;
}


.achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}


.star-circle {
    width: 120px;
    height: 120px;
    background: #445066;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #7fb3ff;
    margin-bottom: 20px;
}


.progress-bar-bg {
    width: 80%;
    height: 12px;
    background: #4a5568;
    border-radius: 10px;
}


.progress {
    width: 40%;
    height: 12px;
    background: #7fb3ff;
    border-radius: 10px;
}


.week-bar {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 70px;
}


.day {
    background: #445066;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
}


.day span {
    font-size: 12px;
}


.day.active {
    background: #e2e6ea;
    color: #000;
}


