body {
    background: #6A9BC5;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #1B1B1B;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-top: 40px;
    font-size: 32px;
    font-weight: bold;
}

p, p.subtitle {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

input {
    width: 100%;
    margin-top: 15px;
    padding: 14px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}

.button {
    width: 100%;
    margin-top: 25px;
    padding: 14px;
    background: #303840;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

.btn-google,
.btn-apple {
    width: 100%;
    padding: 14px;
    background: white;
    border-radius: 6px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    margin: 25px 0;
    border-bottom: 1px solid #ffffff88;
}

small {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    opacity: 0.7;
}

.loading-body {
    background: #6A9BC5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.icon {
    width: 120px;
    opacity: 0.9;
}
